body { background-color: black; font-family: arial; color: black;margin-left: 96px; }
h1 { color: grey; font-family: veranda }
#maindiv{
    background-color: white;
    color: black;
    width: 400px;
    height: auto;
    /*min-height: 260px;*/
    padding: 10px;
    
    border-radius: 25px;
}
#paddingg{
    background-color: white;
    color: black;
    padding-left: 40px;
}

